{% extends 'base.html' %}
{% load static %}


{% block body-style %}
  <style>
  body{
    background-blend-mode: soft-light;
     background-color: white;

}

.cu{
    font-weight:800;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 7px;
}
.black{
    color: rgb(0, 0, 0);
}
.cu_center{

    margin-top: 100px;

    /* text-shadow: 3px 3px 6px #d5dddd ,-3px -3px 6px #d5dddd ; */
}
.lap{

    height: 550px;
    margin-top:  0px;
	top: 0;
    margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 90px;
	 -webkit-filter: drop-shadow(5px 5px 5px #222);
     filter: drop-shadow(5px 5px 5px #222);
<!--	background-color: #F0F1F2;-->
<!--	border: none;-->

}




/* temp*/

/* CSS Document */
/*
*
{
	padding: 0px;
	margin: 0px;
}

html, body
{
	background: #000;
	width: 100%;
	height: 45%;
}

#wrap
{
	width: 100%;
	height: 100%;
	position: relative;
}
*/
.form{
	width: 500px;
	height: 500px;
	background-color: #ffffff;
	top: 100px;
	left: 400px;
	margin-left: 500px;
	position: absolute;
	padding: 5rem,2rem;
	border-radius: 10px;
	margin-right: 500px;
	font-family: 'Comfortaa', cursive;
    font-family: 'Glory', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
	bottom: 500px;

}
.container{

	max-width: 1000px;
	margin-right: 600px;

}
.form h3{
	color: black;
	text-align: center;
    margin-bottom: 2rem;
	font-size: 1.4rem;
	font-weight: 500px;
	margin-top: 2rem;
	margin-right: 20px;
}
.form h3 span{
	color: red;

}
.form p {
	color: rgb(0, 0, 0);
}
.form input {
	padding: .5rem;
	width: 400px;
	margin-bottom: 2rem;
}
.btn{
	margin-top: 1rem;
	 width: 240px;
	 padding: 1rem;
	 color: #ffffff;
	 background-color: rgb(255, 0, 0);
	 border: 1px solid;
	 transition: .3s;
}
input[type="email"]
{
	border-top: none;
	border-left: none;
   border-right: none;
   border-bottom: 1px solid;
}
.btn:hover{
    color: rgb(255, 255, 255);
	background: black;
	border: 2px solid;
}
.form a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: .3 ease-in;
}
.form a:hover{
	color: rgb(64, 187, 224) ;
}
.form h3 span:hover{
	color: rgb(105, 105, 105);
}
.username{
	margin-left: 70px;
	outline: none;
	width: 400px;
	height: 4vh;
}
.password{
	margin-left: 70px;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid;
	height: 4vh;
}
.password:hover {

	border-bottom: 1px solid red;
}
.username:hover {

	border-bottom: 1px solid red;
}
.forgot{
	margin-left: 180px;
	color: black;
}
.btn1{
	margin-left: 120px;
	border-radius: 10px;
	height: 7vh;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;

}
.btn1 :hover{
	color: white;
	background-color: black;
}
.dont{
	margin-left: px;
	text-align: center;
	color: black;
}
.hust{
	color: red;
	margin-left: 500px;
	margin-bottom: 700px;

}
.hustlers{
      color: red;
	  font-family: 'Caveat', cursive;
	  font-size: 80px;
	  margin-left: 65px;
	  margin-bottom: 50px;
	  filter: drop-shadow(5px 5px 5px  black);
}
.bk{
	color: black;
	font-family: 'Caveat', cursive;
}
.welcome{
	margin-left: 40px;
	margin-top: 100px;
	word-spacing: 5px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 35px;
}
.we{
	width: 300px;
	margin-left: 400px;
	margin-bottom: 500px;

}
.great{
	margin-left: 250px;
	white-space: normal;
	font-weight: 400;
	margin-top: 0px;
	text-shadow: 3px 4px;
	filter: blur(10);
	fill-opacity: 10px;
}
</style>
{% endblock %}

{% block body-content %}
  <div class="cu_center back" >
        <div class="cu">
            <!-- CU <span class="black">hustlers</span> -->
           <video  autoplay class="lap" type="video/mp4" src="{% static 'videos/b10.mp4' %}"></video>
           <p class="great" >have a great day!</p>
         </div>

    </div>

  <div class="container">

          <div class="formx">

              <div class="form">
                <span class="hustlers">CU  <span class="bk">hustlers</span> </span> <br>
                <br>
                <br>
                <div> <span class="welcome">WELCOME BACK HUSTLERS</span> </div>
                  <h3><span>Login</span> Here</h3>
                  <form method="POST" id="loginform" autocomplete="off">
                      {% csrf_token %}
                      <input class="username" type="email" placeholder="Enter Email" style="width: 320px;" name="email" id="email">
                      <input class="password"  type="password" placeholder="Enter Password" style="width: 320px;" name="password" id="password">

                      <a class="forgot" href="{% url 'forgotAuth' %}" style="color:blue">Forgot Password?</a>
                      <button class="btn btn1" type="submit" style="font-size:18px">Login</button>

                    <center id="error" style="color:red">
                    </center>
                  </form>

                  <div class="last dont">
                      <p>Don't Have Any account?</p>
                      <p>
                        <a href="#" style="color:blue">SignUp Here....</a>
                      </p>

                  </div>
              </div>
          </div>
     </div>
{% endblock %}

{% block body-script %}
        <script>
            $(document).on('submit', '#loginform', function(e){

                e.preventDefault();

                var email = $('#email').val();
                var password = $('#password').val();

                if (email.length == 0 || password.length == 0){
                    $('#error').html("Input Fields cann't be empty<br>");
                }
                else if (password.length < 8){
                    $('#error').html("Password should be 8 Character long<br>");
                }
                else{
                    $.ajax({
                        type: 'POST',
                        url: /Loginauth/,
                        data:{
                            'email':email,
                            'password':password,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success:function(response){
                            if(response.status == "Success"){
                                console.log(response.status)
                                window.location = "{% url 'index' %}"
                            }
                            else{
                                $('#error').html(response.status+"<br>");
                            }
                        }

                    })
                }

            });
        </script>
{% endblock %}
